<div class="uk-width-1-1">
    <div class="uk-width-1-1 uk-margin-small-bottom">
        <button class="uk-button uk-button-success" ng-click="transferAll()"
                ng-disabled="mainVM.viewDisabled || !items || !items.length || !mainVM.user1 || !mainVM.user2"
                title="Transfers your all saved artists"><i class="uk-icon-send uk-margin-small-right"></i>Transfer all
        </button>
        <i class="uk-icon-spinner uk-icon-spin" ng-show="mainVM.viewDisabled"></i>
    </div>
    <div class="uk-width-1-1">
        <div class="uk-margin-small-bottom"></div>
        <table class="uk-table uk-table-striped uk-table-hover">
            <tr>
                <th>#</th>
                <th>Artist</th>
            </tr>
            <tr ng-repeat="item in items">
                <td>{{$index + 1}}.</td>
                <td>{{item.name}}</td>
            </tr>
        </table>
        <div ng-show="!items || !items.length" class="uk-text-muted uk-text-center">
            <h1 class="uk-text-muted"><i class="uk-icon-inbox"></i></h1>
            <span>No items.</span>
        </div>
        <div class="uk-float-right">
            <button class="uk-button uk-button-primary" ng-click="pagination.nextPage()"
                    ng-disabled="mainVM.viewDisabled || pagination.nextDisabled">Load more <i
                    class="uk-icon-arrow-down"></i></button>
        </div>
        <span ng-hide="!items || items.length===0"><i>Page {{pagination.currentPage}} of {{pagination.pages}}</i></span>
    </div>
</div>
