<div class="uk-margin-top">
    <strong>Trikatuka</strong> is a simple tool helps you to move your playlists, tracks, albums and artists from one account to another.
    <ul>
    <li>If playlist is "Collaborative", it will be followed.</li>
    <li>If playlist is "Public" or "Private" it will be copied.</li>
    <li>Playlists followed by old user will be followed by new user.</li>
    </ul>

    <strong>How to:</strong>
    <ul style="list-style: decimal">
        <li>Login to old account</li>
        <li>Login to new account</li>
        <li>In "Playlists" tab you can transfer your all playlists by clicking "Transfer All" button. You can also
            select some playlists and move only them by clicking "Transfer selected"
        </li>
        <li>In "Tracks" tab you can see your saved tracks, and transfer them by clicking "Transfer all" button.</li>
        <li>In "Albums" tab you can see your saved albums, and transfer them by clicking "Transfer all" button.</li>
        <li>In "Artists" tab you can see your followed artists, and transfer them by clicking "Transfer all" button.</li>
    </ul>
    <p>If you found it useful <a href="https://paypal.me/aartek" target="_blank">you can buy me a beer</a></p>
</div>