<div class="uk-width-1-1">
    <div class="uk-width-1-1 uk-margin-small-bottom">
        <button class="uk-button uk-button-success" ng-click="transferAll()" ng-disabled="mainVM.viewDisabled || !items || !items.length || !mainVM.user1.authData || !mainVM.user2.authData" title="Transfers your all playlists"><i class="uk-icon-send uk-margin-small-right"></i>Transfer all</button>
        <button class="uk-button uk-button-success" ng-click="transferSelected()" ng-disabled="mainVM.viewDisabled || !items || !items.length || checkboxes.getSize()===0 || !mainVM.user1.authData || !mainVM.user2.authData" title="Transfers only selected playlists"><i class="uk-icon-send-o uk-margin-small-right"></i>Transfer selected</button>
        <i class="uk-icon-spinner uk-icon-spin" ng-show="mainVM.viewDisabled"></i>
    </div>
    <div class="uk-width-1-1">
        <div class="uk-float-right">
            <button class="uk-button uk-button-primary" ng-click="pagination.prevPage()" ng-disabled="mainVM.viewDisabled || pagination.prevDisabled"><i class="uk-icon-arrow-left"></i></button>
            <button class="uk-button uk-button-primary" ng-click="pagination.nextPage()" ng-disabled="mainVM.viewDisabled || pagination.nextDisabled"><i class="uk-icon-arrow-right"></i></button>
        </div>
        <div>Selected playlists: {{checkboxes.getSize()}}
            <a class="uk-text-muted" ng-click="checkboxes.clearCache()" title="Clear whole selection"><i class="uk-icon-times"></i></a>
        </div>
        <table class="uk-table uk-table-striped uk-table-hover">
            <tr>
                <th><input type="checkbox" ng-model="checkboxes.selectAll" ng-change="checkboxes.toggleCheck()"/></th>
                <th>#</th>
                <th>Name</th>
                <th>Tracks</th>
                <th>Public</th>
                <th>Collaborative</th>
                <th>Owner</th>
            </tr>
            <tr ng-repeat="item in items">
                <td>
                    <checkbox checkboxes="checkboxes" uid="item.id" model="item"></checkbox>
                </td>
                <td>{{pagination.offset + $index + 1}}.</td>
                <td>{{item.name}}</td>
                <td>{{item.tracksCount}}</td>
                <td>
                    <i class="uk-icon-check" ng-show="item.public"></i>
                    <i class="uk-icon-times" ng-hide="item.public"></i>
                </td>
                <td>
                    <i class="uk-icon-check" ng-show="item.collaborative"></i>
                    <i class="uk-icon-times" ng-hide="item.collaborative"></i>
                </td>
                <td><owner ng-model="item.owner"></owner></td>
            </tr>
        </table>
        <div ng-show="!items || items.length===0" class="uk-text-muted uk-text-center">
            <h1 class="uk-text-muted"><i class="uk-icon-inbox"></i></h1>
            <span>No items.</span>
        </div>
        <div class="uk-float-right">
            <button class="uk-button uk-button-primary" ng-click="pagination.prevPage()" ng-disabled="mainVM.viewDisabled || pagination.prevDisabled"><i class="uk-icon-arrow-left"></i></button>
            <button class="uk-button uk-button-primary" ng-click="pagination.nextPage()" ng-disabled="mainVM.viewDisabled || pagination.nextDisabled"><i class="uk-icon-arrow-right"></i></button>
        </div>
        <span ng-hide="!items || items.length===0"><i>Page {{pagination.currentPage}} of {{pagination.pages}}</i></span>
    </div>
</div>