<div class="grid">
  <div class="col">
    <div>Selected playlists: {{selectedPlaylists.length}} <button pButton class="p-button-sm p-button-rounded p-button-text" icon="pi pi-times" (click)="clearSelection()"></button></div>
  
  </div>
</div>
<p-table [value]="items" selectionMode="multiple" [(selection)]="selectedPlaylists" dataKey="id" [paginator]="true" [rows]="10"
  [selectionPageOnly]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>#</th>
      <th>Name</th>
      <th>Tracks</th>
      <th>Public</th>
      <th>Collaborative</th>
      <th>Owner</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-playlist let-rowIndex="rowIndex">
    <tr [pSelectableRow]="playlist" [pSelectableRowIndex]="rowIndex">
      <td>
        <p-tableCheckbox [value]="playlist"></p-tableCheckbox>
      </td>
      <td>{{rowIndex + 1}}.</td>
      <td>{{playlist.name}}</td>
      <td>{{playlist.tracks.total}}</td>
      <td>
        <i class="pi pi-check" *ngIf="playlist.isPublic"></i>
        <i class="pi pi-times" *ngIf="!playlist.isPublic"></i>
      </td>
      <td>
        <i class="pi pi-check" *ngIf="playlist.collaborative"></i>
        <i class="pi pi-times" *ngIf="!playlist.collaborative"></i>
      </td>
      <td>
        {{playlist.owner.name}}
        <!--        <owner ng-model="item.owner"></owner>-->
      </td>
    </tr>
  </ng-template>
</p-table>