<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trikatuka - Spotify migration tool</title>

    <script>
        const jQuery = require('jquery')
        window.$ = window.jQuery = jQuery
    </script>

    <link rel="stylesheet" href="css/uikit.min.css">
    <script src="../webapp/js/jquery-2.2.1.min.js"></script>
    <script src="../webapp/js/uikit.min.js"></script>
    <script src="../webapp/js/angular.min.js"></script>
    <script src="../webapp/js/angular-resource.min.js"></script>
    <script src="../webapp/js/angular-route.min.js"></script>
    <script src="../webapp/js/ngStorage.min.js"></script>
    <script src="../webapp/js/underscore-min.js"></script>


    <style>
        .tr-panel-box-title {
            position: absolute;
            bottom: 0px;
            right: 5px;
        }

        .uk-tab > li > a,
        .uk-tab > li > a:hover {
            color: #444;
        }

        .uk-navbar-brand a {
            color: white;
            text-decoration: none;
        }

        .tr-help:hover {
            color: #bbb;
        }
    </style>

</head>
<body>
<div id="app" data-uk-observe style="visibility: hidden">
    <nav class="uk-navbar" style="background: #292929">
        <div class="uk-container uk-container-center">
            <span class="uk-navbar-brand uk-float-right"><a class="tr-help" href="#/help"><i
                    class="uk-icon-question-circle"></i></a></span>
            <span class="uk-navbar-brand" style="color: #fff">
            <a href="#/">Trikatuka</a>
            <span class="uk-text-small" style="color:#aaa;">Spotify migration tool</span></span>
        </div>
    </nav>
    <div class="uk-container uk-container-center">
        <div class="uk-margin-top">
            <div class="uk-grid uk-margin-bottom" ng-controller="LoginCtrl">
                <div class="uk-width-1-2">
                    <div class="uk-panel uk-panel-box" style="min-height: 50px">
                        <img ng-src="{{user1.data.images[0].url}}" alt="" style="max-height: 50px; max-width: 50px;"
                             ng-if="user1.data.images[0].url">
                        <img src="http://www.placecage.com/g/200/200" alt="" style="max-height: 50px; max-width: 50px;"
                             ng-if="user1.data && !user1.data.images[0].url">
                        <span class="uk-margin-small-left">{{user1.data.display_name || user1.data.id}}</span>
                        <span ng-hide="viewDisabled">
                        <a href="" ng-click="user1.login()" ng-if="!user1.authData">sign in</a>
                        <a href="" ng-click="user1.logout()" ng-if="user1.authData">sign out</a>
                    </span>

                        <div class="tr-panel-box-title uk-text-muted"><i class="uk-icon-user uk-margin-small-right"></i>Old
                            user
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2">
                    <div class="uk-panel uk-panel-box" style="min-height: 50px">
                        <div class="tr-panel-box-title uk-text-muted"><i class="uk-icon-user uk-margin-small-right"></i>New
                            user
                        </div>
                        <img ng-src="{{user2.data.images[0].url}}" alt="" style="max-height: 50px; max-width: 50px;"
                             ng-if="user2.data.images[0].url">
                        <img src="http://www.placecage.com/c/100/100" alt="" style="max-height: 50px; max-width: 50px;"
                             ng-if="user2.data && !user2.data.images[0].url">
                        <span class="uk-margin-small-left">{{user2.data.display_name || user2.data.id}}</span>
                        <span ng-hide="viewDisabled">
                        <a href="" ng-click="user2.login()" ng-if="!user2.authData">sign in</a>
                        <a href="" ng-click="user2.logout()" ng-if="user2.authData">sign out</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid" ng-view></div>
    </div>

    <div class="uk-text-muted" style="margin-top:30px;">
        <div class="uk-container uk-container-center uk-text-right"
             style="padding-top: 3px;font-family: monospace;font-size: small;">
        <span style="border-top: 1px dashed;  display: inline-block; padding-left: 25px;">
            If you found it useful <a href="https://paypal.me/aartek" target="_blank">you can buy me a beer</a> | Trikatuka v2.5 by <a
                href="http://aknowakowski.blogspot.com" target="_blank">akn</a></span>
        </div>
    </div>
</div>
<script type="text/javascript">
    const glob = require('glob')
    const path = require('path')

    var head = document.getElementsByTagName('head')[0];

    var files = glob.sync(path.join('webapp', 'app', '**/*.js'));
    var appDiv = document.getElementById('app');

    files.map(item => {
        const script = document.createElement('script');
        script.src = '../' + item
        script.type = 'application/javascript'
        head.append(script);
    })

    appDiv.style.visibility = 'visible';
</script>

<script type="text/javascript">
    window.onload = () => {
        setTimeout(() => {
            angular.bootstrap(appDiv, ['trikatuka2']);

        }, 500)

    };

</script>

</body>
</html>
