<div>
  <p-menubar>
    <ng-template pTemplate="start">
      <span class="mr-2">Trikatuka</span>
    </ng-template>
  </p-menubar>

  <div class="grid mt-2">
    <div class="col">
      <p-card>
        <ng-template pTemplate="header">
          <div class="ml-5"><a href="" (click)="this.auth(this.user1Type)">sign in</a></div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="text-right">User 1</div>
        </ng-template>
      </p-card>
    </div>
    <div class="col">
      <p-card>
        <ng-template pTemplate="header">
          <div class="ml-5"><a href="" (click)="this.auth(this.user1Type)">sign in</a></div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="text-right">User 2</div>
        </ng-template>
      </p-card>
    </div>
  </div>
  <p-tabMenu [model]="tabs" [activeItem]="activeItem">
  </p-tabMenu>
  <router-outlet></router-outlet>
</div>
